* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 16px 0;
    background-color: rgb(61, 102, 205);
    color: #fff;
}

header nav li {
    display: inline;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}

#section_um article a {
    display: flex;
    margin-top: 50px;
    max-width: 100%;
}

.sobre a img {
    margin-right: 50px;
}

section article a {
    text-decoration: none;
}

.conteudo_sobre h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(61, 102, 205);
}

.conteudo_sobre h3 {
    margin-top: 30px;
    color: black;
}

#section_dois h2 {
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(61, 102, 205);
    color: rgb(61, 102, 205);
}

.container-flex {
    display: flex;
}

.lista-sapatos li {
    list-style: none;
}

.lista-sapatos li img {
    max-width: 23.5%;
    max-height: 23.5;
}
